@using Microsoft.AspNetCore.Identity
@using Travista.Areas.Identity.Data

@inject SignInManager<TravistaUser> SignInManager
@inject UserManager<TravistaUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    <a id="login" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage" class="btn btn-light">Hello @UserManager.GetUserName(User)!</a>
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
        <button id="logout" type="submit" class="btn btn-light">Logout</button>
        </form>
}
else
{
    <a id="register" asp-area="Identity" asp-page="/Account/Register" class="btn btn-light">Register<i class="fa-solid fa-right-to-bracket" style="margin-left: 5px;"></i></a>
    <a id="login" asp-area="Identity" asp-page="/Account/Login" class="btn btn-light">Login<i class="fa-solid fa-right-to-bracket" style="margin-left: 5px;"></i></a>
}
