@model Travista.Models.Domain.Destination
@{
    ViewData["Title"] = "Add a place to Travista";
}

<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/destination_form.css" asp-append-version="true">
</head>

<body>
    <main>
            <div class="container">
                <div class="container">
                    <img src="../images/forms/dest.png" class="img-fluid rounded-3 shadow mt-5 mb-3" alt="Example image" width="1260" height="500" loading="lazy">
                </div>

                <div class = "cont">
                        <div class="form-dest">
                            <h1 class="display-4 my-5 fw-bold">Add a <span class="txtcolor">destination</span> to Travista</h1>
                            <h1 class="display-6 mt-5 mb-10 fw-bold">How can people <span class="txtcoloraccent">find</span> this place?</h1>
                            <h1 class="h2 fw-normal sectext">Name & Description</h1>
                            <form method="post" asp-action="AddUserDestination" asp-controller="Destination" enctype="multipart/form-data">
                                <div class="form-small">
                                    <div class="form-floating my-2">
                                        <input type="text" class="form-control border border-info rounded-bottom mt-3" asp-for="Emri"
                                               placeholder="Prishtina" required>
                                        <label for="floatingInput">Name</label>
                                    </div>
                                    <div class="form-floating my-2">
                                        <select class="form-select rounded-bottom mt-3" required asp-for="Tag">
                                            <option value="" disabled selected>Select an option</option>
                                            <option value="Thing To Do">Thing To Do</option>
                                            <option value="Food">Food</option>
                                            <option value="Other">Other</option>
                                        </select>
                                        <label for="floatingInput">Tag</label>
                                    </div>
                                    <div class="form-floating my-2">
                                        <textarea class="form-control mt-3" maxlength="8000" placeholder="Leave a comment here" asp-for="Description"
                                                  style="height: 100px" required></textarea>
                                        <label for="floatingTextarea2">Description</label>
                                    </div>
                                    <hr class="featurette-divider">
                                    <h1 class="h2 fw-normal sectext">Address & Contact Info</h1>
                                    <div class="form-floating my-2">
                                        <select class="form-select rounded-bottom mt-3" required asp-for="ID_City">
                                            <option value="" disabled selected>Select an option</option>
                                            <option value="19">Ferizaj</option>
                                            <option value="20">Gjakova</option>
                                            <option value="12">Gjilan</option>
                                            <option value="22">Mitrovica</option>
                                            <option value="21">Peja</option>
                                            <option value="13">Prishtina</option>
                                            <option value="14">Prizren</option>
                                        </select>
                                        <label for="floatingInput">City</label>
                                    </div>
                                    <div class="form-floating my-2">
                                        <input type="text" class="form-control rounded-bottom mt-3" asp-for="Address"
                                               placeholder="Filan Fisteku" required>
                                        <label for="floatingInput">Street Address</label>
                                    </div>
                                    <div class="form-floating my-2">
                                        <input type="text" class="form-control rounded-bottom mt-3" asp-for="AdditionalAddress"
                                               placeholder="Filan Fisteku" required>
                                        <label for="floatingInput">
                                            Additional address information <span class="text-body-secondary">(Optional)</span>
                                        </label>
                                    </div>
                                    <div class="form-floating my-2">
                                        <input type="text" class="form-control rounded-bottom mt-3" asp-for="Latitude" id="lat"
                                               placeholder="Filan Fisteku" readonly required>
                                        <label for="floatingInput">Latitude</label>
                                    </div>
                                    <div class="form-floating my-2">
                                        <input type="text" class="form-control rounded-bottom mt-3" asp-for="Longitude" id="long"
                                               placeholder="Filan Fisteku" readonly required>
                                        <label for="floatingInput">Longitude</label>
                                    </div>
                                    <div class="input-group align-items-center my-2">
                                        <label class="input-group-text mt-2" for="floatingUpload"
                                               style="height: 48px;">Upload</label>
                                        <input type="file" class="form-control form-control-lg mt-2" name="img" multiple id="floatingUpload" required>
                                    </div>
                                    <div class="form-floating my-2">
                                        <button type="submit" class="w-100 btn btn-primary btncolor btntext btn-lg mt-2"><i class="fa-regular fa-paper-plane" style="margin-right: 5px;"></i>Post it!</button>
                                    </div>
                                </div>
                            </form>
                    </div>
                    <div class="map-text">
                        <h1 class="display-6 mt-5 mb-10 fw-bold">Where is your <span class="txtcoloraccent">place</span> located?</h1>
                    </div>
                    <div id="map" class="map rounded">
                    </div>


                </div>
            </div>
    </main>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAV57tzvKbT1Fiumv7_ylQ2zznoZSSp_H4&libraries=places"></script>
    <script src="~/lib/popperjs/core/dist/umd/popper.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/googlemap.js"></script>
</body>

</html>