
@{
}
<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/carousel.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/jquery.css">
    <link rel="stylesheet" href="~/css/product-details.css">
</head>


<body>
    <main>
        <div class="container">

            <div class="h1 text-white mt-5"><span class="txtcolor">Explore</span> Name
            </div>
            
            <div id="container" class="d-flex justify-content-center">
                <div class="fw-semibold text-white mt-5 h2">
                    Things To Do<br>

                    <div class="mt-2 lead">Places to see, ways to wander, and signature experiences.</div>
                </div>
                <div id="slider-container">
                    <span onclick="slideRight()" class="btn"></span>
                    <div id="slider">
                        <div class="slide">
                            <div class="picture-card">
                                <img src="~/images/thumbnails/brezovica_thumb.jpg" alt="Image" class="picture-card__image">
                                <div class="fw-semibold lh-1 mt-3 text-white">Name</div>
                            </div>
                        </div>
                        <div class="slide">
                            <div class="picture-card">
                                <img src="~/images/thumbnails/brezovica_thumb.jpg" alt="Image" class="picture-card__image">
                                <div class="fw-semibold lh-1 mt-3 text-white">Name</div>
                            </div>
                        </div>
                        <div class="slide">
                            <div class="picture-card">
                                <img src="~/images/thumbnails/brezovica_thumb.jpg" alt="Image" class="picture-card__image">
                                <div class="fw-semibold lh-1 mt-3 text-white">Name</div>
                            </div>
                        </div>
                        <div class="slide">
                            <div class="picture-card">
                                <img src="~/images/thumbnails/brezovica_thumb.jpg" alt="Image" class="picture-card__image">
                                <div class="fw-semibold lh-1 mt-3 text-white">Name</div>
                            </div>
                        </div>
                        <div class="slide">
                            <div class="picture-card">
                                <img src="~/images/thumbnails/brezovica_thumb.jpg" alt="Image" class="picture-card__image">
                                <div class="fw-semibold lh-1 mt-3 text-white">Name</div>
                            </div>
                        </div>
                    </div>
                    <span onclick="slideLeft()" class="btn"></span>
                </div>
            </div>

            <div id="container" class="d-flex justify-content-center">
                <div class="fw-semibold text-white mt-5 h2">
                    Food<br>

                    <div class="mt-2 lead">Places to see, ways to wander, and signature experiences.</div>
                </div>
                <div id="slider-container">
                    <span onclick="slideRight()" class="btn"></span>
                    <div id="slider">
                        <div class="slide">
                            <div class="picture-card">
                                <img src="~/images/thumbnails/brezovica_thumb.jpg" alt="Image" class="picture-card__image">
                                <div class="fw-semibold lh-1 mt-3 text-white">Name</div>
                            </div>
                        </div>
                        <div class="slide">
                            <div class="picture-card">
                                <img src="~/images/thumbnails/brezovica_thumb.jpg" alt="Image" class="picture-card__image">
                                <div class="fw-semibold lh-1 mt-3 text-white">Name</div>
                            </div>
                        </div>
                        <div class="slide">
                            <div class="picture-card">
                                <img src="~/images/thumbnails/brezovica_thumb.jpg" alt="Image" class="picture-card__image">
                                <div class="fw-semibold lh-1 mt-3 text-white">Name</div>
                            </div>
                        </div>
                        <div class="slide">
                            <div class="picture-card">
                                <img src="~/images/thumbnails/brezovica_thumb.jpg" alt="Image" class="picture-card__image">
                                <div class="fw-semibold lh-1 mt-3 text-white">Name</div>
                            </div>
                        </div>
                        <div class="slide">
                            <div class="picture-card">
                                <img src="~/images/thumbnails/brezovica_thumb.jpg" alt="Image" class="picture-card__image">
                                <div class="fw-semibold lh-1 mt-3 text-white">Name</div>
                            </div>
                        </div>
                    </div>
                    <span onclick="slideLeft()" class="btn"></span>
                </div>

            </div>
        </div>
    </main>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/popperjs/core/dist/umd/popper.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="~/js/search.js"></script>
    <script src="~/js/slider.js"></script>
</body>

</html>