@model Travista.Models.Domain.Destination
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<head>
    <link rel="stylesheet" href="~/css/travelagency_addform.css" asp-append-version="true">
</head>

<html lang="en">
<body>
    <main class="form-signin w-100">

        <form method="post" action="ViewDestinationPost" enctype="multipart/form-data">
            <div class="text-center">
                <img class="mb-4" src="~/images/travista-dark.png" alt="" width="200" height="80">
            </div>
            <h1 class="h3 mb-3 fw-normal text-center">Add a Travel Agency</h1>

            <div class="row">

                <div class="col-md-6">
                    <div class="form-floating my-2">
                        <input type="text" class="form-control rounded-bottom mt-2" asp-for="ID_Destination" placeholder="Prishtina" readonly>
                        <label for="">Destination ID</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating my-2">
                        <input type="text" class="form-control rounded-bottom mt-2" asp-for="Emri" placeholder="Prishtina">
                        <label for="">Name</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating my-2">
                        <input type="text" class="form-control rounded-bottom mt-2" asp-for="Address"
                               placeholder="alex@gmail.com">
                        <label>Address</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating my-2">
                        <input type="text" class="form-control rounded-bottom mt-2" asp-for="AdditionalAddress"
                               placeholder="alex@gmail.com">
                        <label>Additional Address</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating my-2">
                        <input type="number" class="form-control rounded-bottom mt-2" asp-for="Longitude"
                               placeholder="Filan Fisteku">
                        <label for="">Longitude</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating my-2">
                        <input type="number" class="form-control rounded-bottom mt-2" asp-for="Latitude"
                               placeholder="Filan Fisteku">
                        <label for="">Latitude</label>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-floating my-2">
                        <input type="number" class="form-control rounded-bottom mt-2" asp-for="ID_City" readonly
                               placeholder="Filan Fisteku">
                        <label for="">City ID</label>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-floating my-2">
                        <input type="number" class="form-control rounded-bottom mt-2" asp-for="ID_Users" readonly
                               placeholder="Filan Fisteku">
                        <label for="">User ID</label>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="input-group align-items-center mb-2">
                        <label class="input-group-text mt-2" style="height: 48px;">Upload</label>
                        <input type="file" class="form-control form-control-lg mt-2" asp-for="Foto">
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-floating my-2">
                        <textarea class="form-control" placeholder="Leave a comment here" asp-for="Description" style="height: 100px"></textarea>
                        <label for="">Description</label>
                    </div>
                </div>

                <div class="col-md-6">
                    <button class="w-100 btn btn-lg btn-primary" style="margin: 10px 0;" type="submit"><i class="fas fa-pen-to-square" style="margin-right: 3px;"></i>Update Destination</button>
                </div>
                <div class="col-md-6">
                    <button class="w-100 btn btn-lg btn-danger" style="margin: 10px 0;" type="submit" formaction="@Url.Action("DeleteDestination", "Destination")"><i class="fa-regular fa-trash-can" style="margin-right: 3px"></i>Delete Destination</button>
                </div>

            </div>
        </form>
    </main>

    <script src="~/lib/popperjs/core/dist/umd/popper.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
