@model Travista.Models.Domain.TravelAgency;
@{
}

<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/destination_form.css" asp-append-version="true">
</head>

<body>
    <main>

            <div class="container">
                <div class="container">
                    <img src="~/images/forms/travel_agency.png" class="img-fluid rounded-3 shadow mt-5 mb-3"
                         alt="Example image" width="1260" height="500" loading="lazy">
                </div>
            <form asp-action="AddUserTravelAgency" asp-asp-controller="TravelAgency" enctype="multipart/form-data">
                <div class="form-dest">
                    <h1 class="display-4 my-5 fw-bold">Add an <span class="txtcolor">agency</span> to Travista</h1>
                    <h1 class="display-6 mt-5 mb-10 fw-bold">Tell us <span class="txtcoloraccent">about</span> your travel agency?</h1>
                    <h1 class="h2 fw-normal sectext">Name & Description</h1>
                    <div class="form-small">
                        <div class="form-floating my-2">
                            <input type="text" class="form-control border border-info rounded-bottom mt-3" asp-for="emri" placeholder="Prishtina" required>
                            <label for="floatingInput">Name</label>
                        </div>
                        <div class="form-floating my-2">
                            <textarea class="form-control mt-3" maxlength="8000" placeholder=" Leave a comment here" asp-for="description"
                                      style="height: 100px" required></textarea>
                            <label for="floatingTextarea2">Description</label>
                        </div>
                        <div class="input-group align-items-center my-2">
                            <span class="input-group-text mt-2" style="height: 48px;">€</span>
                            <span class="input-group-text mt-2" style="height: 48px;">0.00</span>
                            <input type="text" class="form-control form-control-lg mt-2" placeholder="30.99" asp-for="price" required>
                        </div>
                        <div class="input-group align-items-center my-2">
                            <label class="input-group-text mt-2" for="floatingUpload"
                                   style="height: 48px;">Upload</label>
                            <input type="file" class="form-control form-control-lg mt-2" name="img" multiple id="floatingUpload" required>
                        </div>
                        <hr class="featurette-divider">
                    </div>
                    <h1 class="h2 fw-normal sectext">Address & Contact Info</h1>
                    <div class="form-small">
                        <div class="form-floating my-2">
                            <select class="form-select rounded-bottom mt-3" required asp-for="ID_Country">
                                <option value="" disabled selected>Select an option</option>
                                <option value="6">Kosovo</option>
                            </select>
                            <label for="floatingInput">Country</label>
                        </div>
                        <div class="form-floating my-2">
                            <select class="form-select rounded-bottom mt-3" required asp-for="ID_City">
                                <option value="" disabled selected>Select an option</option>
                                <option value="19">Ferizaj</option>
                                <option value="20">Gjakova</option>
                                <option value="12">Gjilan</option>
                                <option value="22">Mitrovica</option>
                                <option value="21">Peja</option>
                                <option value="13">Prishtina</option>
                                <option value="14">Prizren</option>
                            </select>
                            <label for="floatingInput">City</label>
                        </div>
                        <div class="form-floating my-2">
                            <input type="text" class="form-control rounded-bottom mt-3" asp-for="streetAddress" required
                                   placeholder="Filan Fisteku">
                            <label for="floatingInput">Street Address</label>
                        </div>
                        <div class="form-floating my-2">
                            <input type="text" class="form-control rounded-bottom mt-3" asp-for="additionalAddressInfo" required
                                   placeholder="Filan Fisteku">
                            <label for="floatingInput">
                                Additional address information
                            </label>
                        </div>
                        <div class="form-floating my-2">
                            <input type="text" class="form-control rounded-bottom mt-3" asp-for="postalCode" required
                                   placeholder="Filan Fisteku">
                            <label for="floatingInput">Postal Code</label>
                        </div>
                        <div class="form-floating my-2">
                            <input type="text" class="form-control rounded-bottom mt-3" asp-for="phoneNumber" required
                                   placeholder="Filan Fisteku">
                            <label for="floatingInput">Phone Number</label>
                        </div>
                        <div class="form-floating my-2">
                            <button type="submit" class="w-100 btn btn-primary btncolor btntext btn-lg mt-2"><i class="fa-regular fa-paper-plane" style="margin-right: 5px;"></i>Post it!</button>
                        </div>
                    </div>
                </div>
            </form>
            </div>
    </main>

    <script src="~/lib/popperjs/core/dist/umd/popper.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>