@model Travista.Models.Domain.Review
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<head>
    <link rel="stylesheet" href="~/css/travelagency_addform.css" asp-append-version="true">
</head>

<html lang="en">
<body>
    <main class="form-signin w-100">

        <form method="post" action="AddReview" enctype="multipart/form-data">
            <div class="text-center">
                <img class="mb-4" src="~/images/travista-dark.png" alt="" width="200" height="80">
            </div>
            <h1 class="h3 mb-3 fw-normal text-center">Add a Review</h1>

            <div class="row">

                <div class="col-md-6">
                    <div class="form-floating my-2">
                        <input type="number" min="1" max="5" class="form-control rounded-bottom mt-2" asp-for="Rating" placeholder="Prishtina">
                        <label for="">Rating</label>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-floating my-2">
                        <input type="number" class="form-control rounded-bottom mt-2" asp-for="ID_Destination" placeholder="Prishtina">
                        <label for="">ID of destination</label>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-floating my-2">
                        <textarea class="form-control" placeholder="Comment" asp-for="Comment" style="height: 150px"></textarea>
                        <label>Comment</label>
                    </div>
                </div>

                <div class="col-md-12">
                    <button class="w-100 btn btn-lg btn-primary mt-3" style="margin: 10px 0;" type="submit">Create Travel Tip</button>
                </div>
            </div>
        </form>
    </main>

    <script src="~/lib/popperjs/core/dist/umd/popper.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
