@model List<Travista.Models.Domain.Images>
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["Title"] = "Travel Agency Images";
}

<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/table.css" asp-append-version="true">
</head>
<body>
    <div class="mx-custom">
        <table>


            <tr>

                <th>#</th>

                <th>Image Path</th>

                <th>Travel Agency #ID</th>

                <th>Action</th>
            </tr>


            @foreach (var image in Model)
            {
                <tr>
                    <th scope="row">@image.ID_Image</th>
                    <td>@image.ImagePath</td>
                    <td>@image.ID_TravelAgency</td>
                    <td><a href="@Url.Action("ViewTravelAgencyImages", "Image", new { clickedTravel = image.ID_Image })"><i class="fas fa-pen-to-square" style="margin-right: 3px;"></i>View</a></td>
                </tr>
            }

        </table>
    </div>

    <script src="https://kit.fontawesome.com/5a5b6880b0.js" crossorigin="anonymous"></script>
</body>
</html>