@model Travista.Models.Domain.City
@{
    ViewData["Title"] = "Home Page";
}

<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/carousel.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/jquery.css">
    <link rel="stylesheet" href="~/css/colorway.css" />
</head>


<body>
    <main>
        <div class="picture-container">
            <img src="~/images/search2.png" class="img-fluid rounded-3 shadow mt-5 mb-3" alt="Search Image" loading="lazy">
            <div class="search-container">
                <form asp-action="GetPostSearchValue" asp-controller="Home" role="search" method="post" onsubmit="submitForm(event)">
                    <div class="input-group">
                        <input class="form-control rounded-bottom" type="search" id="searchInput" placeholder="Where to?" aria-label="Search">
                    </div>
                    <input type="hidden" name="search" value="" id="searchValue">
                </form>
            </div>
        </div>



        <div class="container marketing">

            <hr class="featurette-divider">

            <div class="d-flex align-items-center justify-content-center mb-10">
                <h1 class="text-center pushing">Recommended from Travista.</h1>
            </div>

            <!-- START THE FEATURETTES -->

            <div class="row featurette">
                <div class="col-md-7 mt-15">
                    <h2 class="featurette-heading fw-semibold lh-1">Brezovica. <span class="fw-light">A serene
                            ski destination amidst the majestic Balkan Mountains.</span></h2>
                    <p class="lead">Brezovica is the largest ski center in Kosovo. It is located in the municipality of
                        Štrpce in the south of the country, about 20 kilometers east of Prizren and five kilometers
                        southwest of the main town of Štrpce.</p>
                </div>
                <div class="col-md-5">
                    <img src="~/images/thumbnails/brezovica_thumb.jpg" class="d-block w-100 img-fluid rounded-4 shadow">
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading fw-semibold lh-1">Prishtina Mall. <span class="fw-light">A
                            shopper's paradise with something for everyone.</span></h2>
                    <p class="lead">Prishtina Mall is a premier shopping destination in the heart of the capital city of
                        Kosovo. With its modern and spacious design, it offers a unique shopping experience that
                        combines fashion, entertainment, and leisure. Visitors can browse through a wide selection of
                        local and international brands, catch a movie at the cinema, or enjoy a meal at one of the many
                        restaurants and cafes.</p>
                </div>
                <div class="col-md-5 order-md-1">
                    <img src="~/images/thumbnails/prishtinamall_thumb.jpg" class="d-block w-100 img-fluid rounded-4 shadow">
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading fw-semibold lh-1">Prizren. <span class="fw-light">A historic
                            landmark offering panoramic views of the old town.</span></h2>
                    <p class="lead">The Prizren Castle is a well-preserved fortress atop a hill in Kosovo. Dating back
                        to the 6th century, it offers visitors an impressive display of ancient walls, towers, and
                        gates. The castle played a significant role in the region's history and provides stunning
                        panoramic views of the town below. A must-visit for history and architecture enthusiasts.</p>
                </div>
                <div class="col-md-5">
                    <img src="~/images/thumbnails/prizrencastle_thumb.jpg" class="d-block w-100 img-fluid rounded-4 shadow">
                </div>
            </div>

            <!-- /END THE FEATURETTES -->

        </div>
    </main>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/popperjs/core/dist/umd/popper.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="~/js/search.js"></script>
</body>

</html>