@model Travista.Models.Domain.Ndertesa
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["Title"] = "View Countrys";
}
<head>
    <link rel="stylesheet" href="~/css/travelagency_addform.css" asp-append-version="true">
</head>

<html lang="en">
<body>
    <main class="form-signin w-100 siform border border-info shadow rounded-3">

        <form method="post" action="ViewNdertesaPost" enctype="multipart/form-data">
            <div class="text-center">
                <img class="mb-4" src="~/images/travista-dark.png" alt="" width="200" height="80">
            </div>
            <h1 class="h3 mb-3 fw-normal text-center">Update a Ndertesa</h1>
            <hr />
            <div class="row">

                <div class="col-md-6">
                    <div class="form-floating my-2">
                        <input type="text" class="form-control rounded-bottom mt-2" asp-for="ID_Ndertesa" placeholder="Prishtina" readonly required>
                        <label for="">Ndertesa ID</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating my-2">
                        <input type="text" class="form-control rounded-bottom mt-2" asp-for="Emertimi" placeholder="Prishtina" required>
                        <label for="">Emertimi</label>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-floating my-2">
                        <input type="date" class="form-control rounded-bottom mt-2" pattern="\d{2}-\d{2}-\d{4}" asp-for="DataPT" required placeholder="Prishtina">
                        <label for="">Date (DD-MM-YYYY)</label>
                    </div>
                </div>

                <div class="col-md-6">
                    <button class="w-100 btn btn-lg btn-primary" style="margin: 10px 0;" type="submit"><i class="fas fa-pen-to-square" style="margin-right: 3px;"></i>Update Ndertesa</button>
                </div>
                <div class="col-md-6">
                    <button class="w-100 btn btn-lg btn-danger" style="margin: 10px 0;" type="submit" formaction="@Url.Action("DeleteNdertesa", "Ndertesa")"><i class="fa-regular fa-trash-can" style="margin-right: 3px"></i>Delete Country</button>
                </div>

            </div>
        </form>
    </main>

    <script src="~/lib/popperjs/core/dist/umd/popper.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
