@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --text: #F1FAFE;
    --sectext: #afafaf;
    --background: #020d13;
    --primary: #e35716;
    --secondary: #03141c;
    --brightersecondary: #03141c;
    --accent: #d55215;
    --accordion-bg: #161818;
    --accordion-text: #FAFAFA;
    --accordion-primary: #414947;
    --accordion-secondary: #222625;
    --accordion-accent: #83918D;
}

.mt-6{
    margin-top: 5%;
}

.container-fluid {
    padding: 4% 0;
    background-color: var(--brightersecondary);
    box-shadow: inset 0 -10px 40px -10px rgba(0, 0, 0, 1), inset 0 10px 40px -10px rgba(0, 0, 0, 1);
}

.container-fluid img {
    border-radius: 15px;
}

.container-fluid img:hover {
        transition: all .4s;
        transform: scale(1.05);
}

#slider-container img:hover {
    transition: all .4s;
    transform: scale(1.05);
}


.ipicture-card {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ipicture-card__image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.ipicture-card__name {
    margin-top: 10px;
    font-weight: bold;
}

.isquare-image img {
    width: 235px;
    height: 300px;
    overflow: hidden;
}

body {
    background-color: var(--background);
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar{
    display: none;
}

h1, h2, h3{
    color: var(--text);
}
p{
    color: var(--sectext);
}

.featurette-divider{
    color: var(--text);
}

.pushing{
    margin: 0 0 6rem 0;
}

.nav-color {
    background-color: var(--background);
    border-bottom: 2px solid var(--accent);
}

.bfoot {
    border-top: 2px solid var(--accent);
}

.btncolor {
    background-color: var(--primary);
}

.btncolor i.fa {
    background-color: var(--text);
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--primary);
    --bs-btn-border-color: var(--accent);
    --bs-btn-hover-color: var(--secondary);
    --bs-btn-hover-bg: var(--accent);
    --bs-btn-hover-border-color: var(--accent);
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: var(--text);
    --bs-btn-active-bg: var(--secondary);
    --bs-btn-active-border-color: var(--accent);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--accent);
    --bs-btn-disabled-bg: var(--accent);
    --bs-btn-disabled-border-color: var(--accent);
}

.btntext {
    color: var(--text);
}

.btn:hover {
    background-color: var(--accent);
}

.txtcolor {
    color: var(--primary);
}

.txtcoloraccent {
    color: var(--accent);
}

.sectext {
    color: var(--sectext);
}

.marketing img:hover {
    transition: all .4s;
    transform: scale(1.05);
}

.border {
    border: 2px var(--bs-border-style) var(--primary) !important;
}

.border-bottom {
    border-bottom: var(--bs-border-width) var(--bs-border-style) var(--primary) !important;
}

.border-info {
    --bs-border-opacity: 1;
    border-color: var(--primary) !important;
}

.border-info2 {
    --bs-border-opacity: 1;
    border-color: var(--background) !important;
}

.text-overflow {
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.form-signin h2 {
    color: var(--secondary)
}

.siform {
    background-color: var(--text)
}

.forgot a{
    text-decoration: none;
}

.nav-seccolor {
    background-color: var(--background);
    border-bottom: 1px solid var(--accent);
}

.textsize {
    font-size: 1.8rem;
}

.txtmain {
    color: var(--text);
}

.txtsec {
    color: var(--sectext);
}

    .fa.fa-star.checked {
        color: var(--primary);
        fill: var(--primary)
    }

a {
    text-decoration: none;
}

.ui-menu-item {
    padding: 5px 0;
}
    .ui-menu-item:hover {
        background-color: transparent;
        color: #000;
    }

.ui-autocomplete {
    border-radius: 5px;

}

.ui-autocomplete {
    margin-top: -10px;
    max-height: 150px;
    position: absolute;
    left: 0;
    z-index: 2;
    border: 1px solid #ccc;
    background-color: #fff;
}

.ui-menu-item {
    padding: 8px;
    margin-top: -10px;
    border-bottom: 1px solid #ccc;
}

.ui-state-highlight {
    font-weight: bold;
    color: #333;
}

.accordion {
    --bs-accordion-color: #212529;
    --bs-accordion-bg: var(--accent);
    --bs-accordion-transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out,border-radius 0.15s ease;
    --bs-accordion-border-color: var(--background);
    --bs-accordion-border-width: 1px;
    --bs-accordion-border-radius: 0.375rem;
    --bs-accordion-inner-border-radius: calc(0.375rem - 1px);
    --bs-accordion-btn-padding-x: 1.25rem;
    --bs-accordion-btn-padding-y: 1rem;
    --bs-accordion-btn-color: #212529;
    --bs-accordion-btn-bg: var(--bs-accordion-bg);
    --bs-accordion-btn-icon: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e);
    --bs-accordion-btn-icon-width: 1.25rem;
    --bs-accordion-btn-icon-transform: rotate(-180deg);
    --bs-accordion-btn-icon-transition: transform 0.2s ease-in-out;
    --bs-accordion-btn-active-icon: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%230c63e4'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e);
    --bs-accordion-btn-focus-border-color: #86b7fe;
    --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    --bs-accordion-body-padding-x: 1.25rem;
    --bs-accordion-body-padding-y: 1rem;
    --bs-accordion-active-color: var(--background);
    --bs-accordion-active-bg: var(--primary);
}

.accordion-item {
    background-color: var(--accordion-bg);
    border: 1px solid var(--primary);
}

.accordion-header {
    background-color: var(--accordion-secondary);
}

.img-glow {
    -webkit-filter: drop-shadow(0px 0px 8px #e35716);
}