.form-dest {
    max-width: 800px;
    padding: 15px;
}

.form-small {
    max-width: 600px;
}

.featurette-divider {
    margin: 1rem 0;
}

.centered-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}