:root {
    --text: #F1FAFE;
    --sectext: #afafaf;
    --background: #020d13;
    --primary: #A43000;
    --secondary: #03141c;
    --accent: #A43000;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
}
body {
    background-color: var(--background)
}

.filter {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    opacity: .7;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    box-shadow: 0 2px 15px rgba(64,64,64,.7);
    border-radius: 12px 12px 12px 12px;
    overflow: hidden;
}

td, th {
    padding: 15px 20px;
    text-align: center;
}

th {
    background-color: var(--primary);
    color: #fafaf1;
    font-weight: 200;
    text-transform: uppercase;
}
    th:nth-child(even) {
        background-color: var(--accent);
    }
    table tbody tr th:nth-child(1) {
        background-color: var(--primary);
    }

tr {
    width: 60%;
    background-color: #fafafa;
}

    tr:nth-child(even) {
        background-color: #eeeeee;
    }

td {
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}