* {
    margin: 0;
    padding: 0;
    outline: 0;
}

.filter {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    opacity: .7;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    box-shadow: 0 2px 15px rgba(64,64,64,.7);
    border-radius: 12px 12px 0 0;
    overflow: hidden;
}

td, th {
    padding: 15px 20px;
    text-align: center;
}

th {
    background-color: #363181;
    color: #fafaf1;
    font-weight: 200;
    text-transform: uppercase;

}

tr {
    width: 60%;
    background-color: #fafafa;
}

    tr:nth-child(even) {
        background-color: #eeeeee;
    }

td {
    max-width: 150px; /* Change the value to adjust the maximum width */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}