html,
body {
  height: 100%;
}


body {
    background-color: var(--background);
    -ms-overflow-style: none;
    scrollbar-width: none;
    align-items: center;
    padding-bottom: 40px;
}

    body::-webkit-scrollbar {
        display: none;
    }

.txtmain {
    color: var(--text);
}

.form-signin {
    max-width: 1000px;
    padding: 40px;
    margin-top: 9%;
    margin: 3% auto;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.row>*{
    padding-right: 0;
}

